.product-card {
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    margin-top: 10px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-price {
    color: #f60;
  }
  
  .buy-button {
    background-color: #f60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }



  .d-flex{

    background-color: 
  }